<!DOCTYPE html>
<html>
<head>
	<title>From Grinberg to Meiler</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	<!-- <link href="https://fonts.googleapis.com/css?family=Great+Vibes&amp;subset=latin-ext" rel="stylesheet">  -->
  	<link rel="stylesheet" href="CSS/style.css">
<link href="https://fonts.googleapis.com/css?family=Charmonman|Cinzel|Comfortaa|Dancing+Script|KoHo" rel="stylesheet"> 

</head>
<body>
<script src="Javascript/script.js"></script>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navcolor">
  
  <button style="border-color:white;border-width:2px;height:4rem;font-size:2rem;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span style="color:white;" class="navbar-toggler-icon"></span>
  </button>
  	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav" style="margin:0 auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="./invitation">Invitation</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="./form">RSVP</a>
	      </li>
	       <li class="nav-item">
	        <a class="nav-link" href="./location">Location</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="./galery">Gallery</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="./hotelinfo">Contact</a>
	      </li>
	    </ul>
  </div>



</nav>

  	<div class="container">
			<img id="headofsite" src="blumen.png">
			<h1 class="display-4" id="titleLine" style="font-size:4rem;color:purple">Bella & Patrick</h1>
			<h1 class="display-4" id="titleLine" style="font-size:3rem;">15th of December 2018 </h1>
			<h1 class="display-4" id="titleLine" style="font-size:3rem;">Berlin</h1>
	</div>