<% include partials/header %>





	<div class="container" style="border: 1.5px solid grey;border-radius:5rem;margin-top:2rem;padding:0 4rem;">
		<h1 class="display-4" id="titleLine" style="font-size:3.5rem;margin:2rem auto;color:purple;">Invitation</h1>
		<p class="lead" id="textail" style="font-size:1.9rem;margin-bottom:2rem;">
			Dear family and friends,
		</p>
		
		<p class="lead" id="textail" style="font-size:1.9rem;margin-bottom:2rem;">
			together with our parents, we joyfully invite you to our wedding 
		</p>

		<p class="lead" id="textail" style="font-size:1.9rem;margin-bottom:2rem;">
			On Saturday, 15th of December 2018 at Hotel Sofitel Berlin, Augsburgerstr. 41
		</p>
		
		<p class="lead" id="textail" style="font-size:1.9rem;margin-bottom:2rem;">
			The reception starts at 6 pm, followed by the Chuppa ceremony at 7 pm, and dinner and dance from 8 pm.
		</p>
		
		<p class="lead" id="textail" style="font-size:1.9rem;margin-bottom:2rem;">
			Dress Code: Black tie
		</p>
		
		<p class="lead" id="textail" style="font-size:1.9rem;margin-bottom:2rem;">
			We can't wait to celebrate with you!
		</p>
		
	</div>


<% include partials/footer %>